{% extends "base.html" %}

{% block htmltitle %}
  <title>Dj Waanverse Auth | Waanverse Labs Inc. Internal REST authentication library.</title>
  <meta name="description" content="dj_waanverse_auth is a state-of-the-art authentication package developed by Waanverse Labs Inc., meticulously designed to meet the modern security demands of both web and mobile applications. This comprehensive solution for REST authentication using JSON Web Tokens (JWT) ensures that your applications are secure, efficient, and scalable.">
{% endblock %}


{#% block announce %}

{% endblock %#}
